{% extends "base.html" %}
{% load gsfilters %}

{% block conteudo %}
<div class="row">
    <div class="col">
        <h3 class="mb-4">Pedidos de {{ user.first_name }} {{ user.last_name }}</h3>
        <p>Abaixo todos os seus pedidos realizados na loja.</p>

        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th class="text-left" scope="col">Pedido</th>
                    <th class="text-right" scope="col">Total</th>
                    <th class="text-center" scope="col">Qtd. Itens</th>
                    <th class="text-center" scope="col">Status</th>
                    <th class="text-center" scope="col">Mais detalhes</th>
                </tr>

                {% for pedido in pedidos %}
                    <tr>
                        <th class="text-left" scope="row">{{ pedido }}</td>
                        <td class="text-right">{{ pedido.total|formata_preco }}</td>
                        <td class="text-center">{{ pedido.qtd_total }}</td>
                        <td class="text-center">{{ pedido.get_status_display }}</td>
                        <td class="text-center">
                            <a href="{% url 'pedido:detalhe' pedido.pk %}">
                                Ver <i class="fas fa-search-plus ml-2"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% include 'parciais/_pagination.html' %}
{% endblock conteudo %}
